@using ConcessionariaApp.Application.Dtos
@model IEnumerable<FabricanteDto>

@{
    ViewData["Title"] = "Lista de Fabricantes";
}

<h2>Fabricantes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>País de Origem</th>
            <th>Ano de Fundação</th>
            <th>Website</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fabricante in Model)
        {
            <tr>
                <td>@fabricante.Nome</td>
                <td>@fabricante.PaisOrigem</td>
                <td>@fabricante.AnoFundacao</td>
                <td><a href="@fabricante.Website" target="_blank">Site</a></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@fabricante.Id" class="btn btn-warning btn-sm">Editar</a>               
                    <button class="btn btn-info btn-sm" onclick="detailsFabricante(@fabricante.Id)">Detalhes</button>
                    <button class="btn btn-danger btn-sm" onclick="deleteFabricante(@fabricante.Id)">Excluir</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-controller="Fabricante" asp-action="Create" class="btn btn-primary">Novo Fabricante</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Cancelar</a>
</p>

<script>
    async function deleteFabricante(id) {
        if (confirm("Tem certeza que deseja excluir este Fabricante?")) {
            const response = await fetch(`/Fabricante/${id}`, { method: "DELETE" });

            if (response.ok) {
                location.reload();
            } else {
                const errorData = await response.json();
                const errorMessage = errorData.errors ? JSON.stringify(errorData.errors) : errorData.message || "Erro desconhecido.";
                alert(errorMessage);
            }
        }
    }
    function detailsFabricante(id) {
        window.location.href = `/fabricante/details/${id}`;
    } 
</script>